@import '../../assets/style/mixin.scss';

.episode-wrapper {
  display: inline-flex;
  flex-direction: row;
  height: px2rem(30);
  .index-wrapper{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    .plain {
      font-size: px2rem(16);
    }
    .index {
      font-size: px2rem(30);
      line-height: px2rem(30);
      font-weight: bold;
    }
    .line {
      height: px2rem(23);
      border: 1px solid #000;
      margin-left: px2rem(7);
      margin-right: px2rem(7);
    }
  }
  .date-wrapper{
    display: flex;
    flex-direction: column;
    .month {
      font-size: px2rem(12);
      line-height: px2rem(12);
      margin-right: px2rem(2);
      margin-bottom: px2rem(3);
      padding-top: px2rem(2.5);
    }
    .year {
      font-size: px2rem(10);
      line-height: px2rem(10);
    }
  }
}